<h2>{{ title }}</h2>

<!--@if (!formVisible) { !-->
  <main class="container">
    <!--
    <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()">
      Ajouter un devoir
    </button>
  -->
    <div class="ajouterBtn">
      <a routerLink="/add">
        <button class="ajouterBtn"
          mat-flat-button color="accent">
          Ajouter Assignments
        </button>
      </a>
    </div>
    <ul>
      @for (assignment of assignments; track assignment.name) {
        <nav><a routerLink="/assignment/{{assignment.id}}">
          @if (assignment.submitted) {
            <li appSubmitted (click)="assignmentClique(assignment)">
              The assignment : {{ assignment.name }} has been submitted in time!
            </li>
          } @else {
            <li appNotSubmitted (click)="assignmentClique(assignment)">
              The assignment : {{ assignment.name }} is still due on
              {{ assignment.dueDate | date }}, NOT SUBMITTED YET!
            </li>
          }
        </a></nav>
      }
    </ul>

    <!--
    <app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>
  -->
  </main>
<!--}-->

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Due Date</th>
      <th>Submitted</th>
    </tr>
  </thead>
  <tbody>
    @for (assignment of assignments; track assignment.name) {
      <tr>
        <td>{{ assignment.name }}</td>
        <td>{{ assignment.dueDate | date }}</td>
        <td>{{ assignment.submitted }}</td>
      </tr>
    }
  </tbody>
</table>
<!--
@if (formVisible) {
  <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)"></app-add-assignment>
}
-->

<router-outlet></router-outlet>