<form ngForm #assignmentForm (submit)="addAssignment()">
    <mat-form-field>
        <input matInput
            placeholder="Assignment Name"
            name="name"
            [(ngModel)]="assignmentName"
            required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"
            placeholder="Choose a date"
            name="dueDate"
            [(ngModel)]="assignmentDueDate"
            required
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <button mat-stroked-button
            color="primary"
        >
    Add Assignment
    </button>
</form>